h1 {
    color: white;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
}

.add-remove {
    color: white;
    font-size: 14px;
    font-family: Roboto,Arial,sans-serif;
}

.textbox {
    min-height: 100px;
}

textarea, .textbox {
    font-family: monospace;
    background-color: #121212;
    overflow: hidden;
    resize: none;
    width: 100%;
    color: #ffffff;
    border-radius: 0;
    letter-spacing: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

    textarea:focus {
        outline: none;
    }

.topbutton {
    background-color: #121212;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.s-24 {
    font-size: 24px;
}

#main {
    display: inline-block;
    width: calc(100% - 400px);
    padding: 20px;
    overflow-y: auto;
}

#editor {
    background-color: transparent;
    color: transparent;
    caret-color: white;
    z-index: 2;
    position: relative;
}

#edit-wrapper::before {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#121212;
    content: "";
}